<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true"/>
  </system.web>

  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="WebBinding" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647" />
        </binding>
      </webHttpBinding>
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <behaviors>
      <endpointBehaviors>
        <behavior name="rest">
          <webHttp helpEnabled="true" defaultOutgoingResponseFormat="Json" automaticFormatSelectionEnabled="false" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug httpHelpPageEnabled="true" includeExceptionDetailInFaults="true" />
          <dataContractSerializer />
          <!--<serviceAuthorization serviceAuthorizationManagerType="Ciel.Digiturno5.App.UtilidadesWCF.Autorizacion.AutenticacionBasica, Ciel.Digiturno5.App.UtilidadesWCF" />-->
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>
      <service name="Contrato.Concursos">
        <endpoint address="http://localhost:5060/basic" binding="basicHttpBinding" bindingConfiguration=""
          contract="Contrato.IConcursos" />
        <endpoint address="http://localhost:5061/rest" behaviorConfiguration="rest"
          binding="webHttpBinding" bindingConfiguration="" contract="Contrato.IConcursos" />
        <endpoint address="http://localhost:5062/mex" binding="mexHttpBinding" bindingConfiguration=""
          contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:5060"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>
