<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ConsursoWeb.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="SmtpServer" value="smtp.live.com"/>
    <add key="MailAddressFrom" value=""/>
    <add key="MailTitulo" value="Mensaje Prueba"/>
    <add key="Subject" value="Prueba de Envío de Correo"/>
    <add key="NetworkCredentialUser" value=""/>
    <add key="NetworkCredentialPass" value=""/>
    <add key="Puerto" value="587"/>
    
    <!--
    llaves para Acceso a servicios 
    -->
    <add key="UsuarioSistema" value="PedWebAdminUser"/>
    <add key="PwdSistema" value="*4lg4rT3ch.2017*"/>
    <add key="ValorMinimoConcurso" value="300"/>  
  </appSettings>
  <connectionStrings>
    <add name="Concurso" providerName="System.Data.SqlClient" connectionString="Data Source=eco-server.database.windows.net,1433;Initial Catalog=Mp_Concurso;User ID=freycoff04@eco-server.database.windows.net; PASSWORD=eco2016-; Pooling=true; Max Pool Size=900;" />
  </connectionStrings>
  <system.web>
    <customErrors mode="On" defaultRedirect="Login.aspx"/>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  <pages validateRequest="false" >
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages></system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IConcursos" sendTimeout="00:05:00" />
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="IUsuarios" closeTimeout="00:11:00" openTimeout="00:11:00" receiveTimeout="00:10:00" sendTimeout="00:11:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="IMercadeo" closeTimeout="00:11:00" openTimeout="00:11:00" receiveTimeout="00:10:00" sendTimeout="00:11:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647" />
        </binding>
      </webHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://mptucasadelujo.marketingpersonal.com:8090/servicios/Usuarios.svc" behaviorConfiguration="EndPointBehavior" binding="webHttpBinding" bindingConfiguration="IUsuarios" contract="ServiciosUsuarioa.IUsuarios" name="IUsuarios" />
      <endpoint address="http://mptucasadelujo.marketingpersonal.com:8091/Servicios/Mercadeo.svc" behaviorConfiguration="EndPointBehavior" binding="webHttpBinding" bindingConfiguration="IMercadeo" contract="ServicioMercadeo.IMercadeo" name="IMercadeo" />
      <endpoint address="http://wcfservicioconcurso.azurewebsites.net/Concursos.svc/basic" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConcursos" contract="ServiceReferenceConcurso.IConcursos" name="BasicHttpBinding_IConcursos" />
    </client>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />

    <!--Calling from different domain -->
    <standardEndpoints>
      <webScriptEndpoint>
        <standardEndpoint name="" crossDomainScriptAccessEnabled="true">
        </standardEndpoint>
      </webScriptEndpoint>
    </standardEndpoints>
    <behaviors>
      <endpointBehaviors>
        <behavior name="EndPointBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    
  </system.serviceModel>

</configuration>