<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
	<appSettings>
		<add key="TimeExecute" value="0 0/1 * 1/1 * ? *"/>
    <add key="UsuarioSistema" value="PedWebAdminUser"/>
    <add key="PwdSistema" value="*4lg4rT3ch.2017*"/>
    <add key="ValorMinimoConcurso" value="300"/>  
	</appSettings>
  <connectionStrings>
        <add name="Concurso" providerName="System.Data.SqlClient" connectionString="Data Source=eco-server.database.windows.net,1433;Initial Catalog=Mp_Concurso;User ID=freycoff04@eco-server.database.windows.net; PASSWORD=eco2016-; Pooling=true; Max Pool Size=900;" />
  <!--<add name="Concurso" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.10.82;Initial Catalog=Mp_Concurso;User ID=UserConcurso; PASSWORD=UserConcurso; Pooling=true; Max Pool Size=900;" /> -->
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="IMercadeo" closeTimeout="00:11:00" openTimeout="00:11:00" receiveTimeout="00:10:00" sendTimeout="00:11:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647"/>
        </binding>
      </webHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://mptucasadelujo.marketingpersonal.com:8091/Servicios/Mercadeo.svc" behaviorConfiguration="EndPointBehavior" binding="webHttpBinding" bindingConfiguration="IMercadeo" contract="ServicioMercadeo.IMercadeo" name="IMercadeo"/>
    </client>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true"/>

    <!--Calling from different domain -->
    <standardEndpoints>
      <webScriptEndpoint>
        <standardEndpoint name="" crossDomainScriptAccessEnabled="true">
        </standardEndpoint>
      </webScriptEndpoint>
    </standardEndpoints>
    <behaviors>
      <endpointBehaviors>
        <behavior name="EndPointBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
    </behaviors>

  </system.serviceModel>
</configuration>
